{% extends 'base.html' %}
{% load static %} {% block title %}
ReleCloud - {{ destination.name }}
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4">{{ destination.name }}</h1>

    {% if destination.image %}
        <img src="{{ destination.image.url }}" alt="Imagen de {{ destination.name }}" class="img-fluid rounded my-4 shadow">
    {% else %}
        <p class="text-muted my-4">(No hay imagen disponible para este destino)</p>
    {% endif %}

    <div class="description my-4">
        <p class="lead">
            {{ destination.description|linebreaks }}
        </p>
    </div>
    
    <div class="cruises my-4">
        <h3>Puedes explorar {{ destination.name }} en los siguientes cruceros:</h3>
        <div class="list-group">
            {% for cruise in destination.cruises.all %}
                <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.pk %}">{{ cruise.name }}</a>
            
            {% empty %}
                <p class="list-group-item">Actualmente no hay cruceros programados para este destino. ¡Vuelve a consultarnos pronto!</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="my-3">
    {% if destination.average_rating %}
        <h4>Valoración Media del Destino: {{ destination.average_rating|floatformat:1 }} ⭐</h4>
    {% else %}
        <p>Este destino aún no tiene valoraciones.</p>
    {% endif %}
</div>

{% endblock content %}