<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF--8">
    <title>Confirmación de Solicitud</title>
</head>
<body style="font-family: sans-serif;">
    <h2 style="color: #005A9E;">¡Hola, {{ name }}!</h2>
    <p>Hemos recibido correctamente tu solicitud de información en <strong>Relecloud Space Travel</strong>.</p>
    <p>Uno de nuestros agentes se pondrá en contacto contigo pronto con más detalles sobre tu consulta.</p>
    <p>Gracias por tu interés en explorar la galaxia con nosotros.</p>
    <br>
    <p>Atentamente,</p>
    <p>El equipo de Relecloud</p>
</body>
</html>